.playlist {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    width: 37%;
    max-height: 950px;
    padding: 2.27rem 1.16rem;
    background-color: #172f38;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .playlist input {
    width: 100%;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #65686e;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: #fff;
    text-align: center;
  }
  
  .save-playlist {
    cursor: pointer;
    width: 215px;
    padding: .5rem 0;
    border-radius: 54px;
    border-width: 0px;
    margin-top: 1.27rem;
    background-color: #e475e4b9;
    text-align: center;
    font-size: 18px;
    transition: background-color .25s;
    color: #fff;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .save-playlist:hover {
    background-color: #e475e47a;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .playlist {
      width: 90%;
    }
  }