.SearchBar {
    display: flex;
    align-items: center;
    margin-bottom: 6.33rem;
    gap: 15px;
  }
  
  .SearchBar input {
    width: 250px;
    padding: .2rem 0;
    border: 1px solid #fff;
    border-radius: 35px;
    color: #2c2c2c;
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .SearchBar input:focus {
    outline: none;
  }
  
  .SearchButton {
    cursor: pointer;
    width: 100px;
    height: 30px;
    border-radius: 54px;
    background-color: #c1d7df;
    text-align: center;
    font-size: 18px;
    transition: background-color .25s;
    border: 0px;
    color: #2c2c2c;
    font-weight: 500;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .SearchButton:hover {
    background-color: #c1d7dfb0;
  }